<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
</head>
<body>
    {{profile.name}}
    <br>

    {{user.first_name}}
    {{user.last_name}}
    <div>
        {% for contact in profile.profilecontact_set.all %}
          <div>
              {{contact.name}} : {{contact.value}}
          </div>
        {% endfor %}
    </div>
</body>
</html>