django-social-share
cryptography 
Django
django-cleanup
khayyam
#django-group-by
# django-mysql
django-resized
django-tinymce
djangorestframework
djecrety
mysqlclient
openpyxl
persiantools
Pillow
pusher
pylint
PyMySQL
qrcode
requests
sqlparse
toml
django-photologue >= 3.6
pylint-django
python-resize-image
django-allauth
python-dateutil
# django-forums

