<footer class="footer footer-white">
  <div class="container">
    <a class="footer-brand float-right" href="http://www.khafonline.com/">Khaf Online</a>
    <ul class="pull-center">
      <li>
        <a href="https://www.creative-tim.com/" target="_blank">
          Creative Tim
        </a>
      </li>
      <li>
        <a href="https://www.creative-tim.com/presentation" target="_blank">
          About Us
        </a>
      </li>
      <li>
        <a href="http://blog.creative-tim.com/" target="_blank">
          Blog
        </a>
      </li>
      <li>
        <a href="https://www.creative-tim.com/license" target="_blank">
          Licenses
        </a>
      </li>
    </ul>
    <ul class="social-buttons float-left">
      <!-- <li>
        <a href="https://twitter.com/CreativeTim" target="_blank" class="btn btn-just-icon btn-link btn-twitter">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/CreativeTim" target="_blank" class="btn btn-just-icon btn-link btn-dribbble">
          <i class="fa fa-dribbble"></i>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/CreativeTimOfficial" target="_blank"
          class="btn btn-just-icon btn-link btn-instagram">
          <i class="fa fa-instagram"></i>
        </a>
      </li> -->
      <li>
        <div class="copyright rtl float-left text-left">
          <span class="farsi rtl">
            توسعه و اجرا :
          </span>

          <a title="حسین مقیمی" href="https://www.linkedin.com/in/hossein-moghimi-4597b973/" class="btn btn-linkedin docs-creator">
            <i class="fa fa-linkedin-square"></i> 
            <span class="farsi">

              صفرویک
            </span>
            <div class="ripple-container"></div>
            <div class="ripple-container"></div>
          </a>

        </div>
      </li>
    </ul>
  </div>
</footer>