
<meta name="robots"
  content="{{keywords}}" />
<!--  end keywords -->




<!--  Social tags      -->
<meta name="keywords"
  content="{{keywords}}">
<meta name="description" content="{{keywords}}">
<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="{{keywords}}">
<meta itemprop="description"
  content="{{keywords}}">
<meta itemprop="image" content="https://s3.amazonaws.com/creativetim_bucket/products/46/original/opt_mkp_thumbnail.jpg">
<!-- Twitter Card data -->
<meta name="twitter:card" content="product">
<meta name="twitter:site" content="@creativetim">
<meta name="twitter:title" content="{{page.title}}">
<meta name="twitter:description"
  content="{{keywords}}">
<meta name="twitter:creator" content="@creativetim">
<meta name="twitter:image"
  content="{{keywords}}">
<!-- Open Graph data -->
<meta property="fb:app_id" content="655968634437471">
<meta property="og:title" content="{{page.title}}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://demos.creative-tim.com/material-kit-pro/presentation.html" />
<meta property="og:image"
  content="https://s3.amazonaws.com/creativetim_bucket/products/46/original/opt_mkp_thumbnail.jpg" />
<meta property="og:description"
  content="Start Your Development With A Badass Bootstrap 4 UI Kit inspired by Material Design" />
<meta property="og:site_name" content="{{page.title}}" />