{% extends "core/layout.html" %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                {% if pretitle %}
                  <h6>
                      {{pretitle}}
                  </h6>
                {% endif %}
                <h4 class="title">
                    {{title}}
                </h4>
            </div>
            <div class="card-body">
                <ul class="nav flex-column">
                    {% for page in pages %}

                    <li class="nav-item">
                        <a class="nav-link active" href="{{page.get_absolute_url}}">{{page.title}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
<script src="{% static 'vendor/js/vue.min.js' %}"></script>

{% endblock %}