<script>

    // let page_comment_component_template = `{1% include "core/includes/page-comments-app/component.html" %}`


    let url_add_page_comment = "{% url 'core:add_page_comment' %}"
    let page_comments = JSON.parse(`{{page_comments_s|escapejs}}`)
    let url_delete_page_comment = "{% url 'core:delete_page_comment' %}"

    let page_comment_component = Vue.component('page-comment-component', {
        data: function () {
            return {
                confirm_delete: false,
            }
        },
        methods: {
            delete_comment: function (page_comment_id) {
                this.confirm_delete = false

                let url = url_delete_page_comment
                let payload = {
                    page_comment_id: page_comment_id,
                    csrfmiddlewaretoken: csrfmiddlewaretoken
                }
                let posting = $.post(url, payload)
                //console.log(payload)
                posting.done(function (data) {
                    if (data.result === 'SUCCEED') {
                        page_comments_app.page_comments = page_comments_app.page_comments.filter((page_comment) => {
                            return (page_comment.id != page_comment_id)
                        })
                        page_comment_component.confirm_delete = false
                    }
                })
            },


        },
        props: ['page_comment'],
        template: page_comment_component_template,
    })


    let page_comments_app = new Vue({
        el: "#page-comments-app",
        components: {
            page_comment_component
        },
        data: {
            comment: "",
            page_comments: page_comments,
        },
        methods: {
            add_comment: function () {
                let url = url_add_page_comment
                this.comment=$("#comment_inputed").val()
                let payload = {
                    csrfmiddlewaretoken: csrfmiddlewaretoken,
                    page_id: page_id,
                    comment: this.comment,
                }
                //console.log(payload)
                let posting = $.post(url, payload)
                posting.done((data) => {
                    //console.log(data)

                    if (data.result === 'SUCCEED') {

                        page_comments_app.page_comments.push(data.page_comment)
                        page_comments_app.comment = ""
                    }
                })
            },
        }
    })
</script>