{% extends "dashboard/layout.html" %}
{% load static %}
{% load to_persian_date %}

{% block head %}

{% endblock %}


{% block ofbar %}

{% endblock %}


{% block content %}
<div id="app">

    <form @submit.prevent="send_email">

        <div class="row">
            <div class="col-6">آدرس ایمیل گیرنده</div>
            <div class="col-6">
                <input type="email" required v-model="receiver_email" placeholder="receiver_email" class="form-control">
            </div>
            <div class="col-6">متن پیام</div>
            <div class="col-6">
                <input type="text" required v-model="message_body" placeholder="message_body" class="form-control">

            </div>
            <div class="col-6">
                <img v-if="wait" src="{% static 'img/loading.svg' %}" width="64px" alt="">
                <button type="submit" class="btn btn-success">send</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}



{% block modal %}

{% endblock %}



{% block script %}
<script src="{% static 'vendor/js/vue.min.js' %}"></script>
<script>
    let app = new Vue({
        el: "#app",
        data: {
            receiver_email: "hossein.moghimi.ce@gmail.com",
            message_body: "hi",
            wait: false,
        },
        methods: {
            send_email: function () {
                let url_send_email = "{% url 'utility:send_email' %}"
                let payload = {
                    receiver_email: this.receiver_email,
                    message_body: this.message_body,
                    csrfmiddlewaretoken: csrfmiddlewaretoken,
                }
                app.wait = true
                var posting = $.post(url_send_email, payload);

                // Put the results in a div
                posting.done(function (data) {
                    app.wait = false

                    if (data.result === 'SUCCEED') {
                     
                        message =
                            `
                        <p>
                        با موفقیت ارسال شد.
                        </p>            
                        `
                        showNotification('bottom', 'left', 'chat', 'success', message)

                    }
                    else {
                        message =
                            `
                        <p>
                    خطا در ارسال ایمیل.
                        </p>            
                        `
                        showNotification('bottom', 'left', 'chat', 'danger', message)
                    }
                })


            }
        },
    })
</script>
{% endblock %}