
  {% load static %}
  <link rel="stylesheet" href="{% static 'leo/css/font-farsi.css' %}">
  <style>
      h1,
      h2,
      h3,
      h4,
      h4,
      h6,
      p,
      a,
      span,
      td,
      input,
      div ,*{
          font-family: "HMFONT";
      }
  </style>
  <script type="text/javascript" src="{% static 'charts/loader.js' %}"></script>
  <link rel="stylesheet" href="{% static 'vendor/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/css/material-icons.css' %}">
